///
/// @name Nav
/// @group abstractions
/// @description
///     Basic navigation abstraction with minor layout modifiers.
///
/// @example
///     <ul class="nav [nav--stacked nav--banner nav--block nav--fit nav--keywords]">
///         <li><a href="#">Home</a></li>
///         <li><a href="#">About</a></li>
///         <li><a href="#">Portfolio</a></li>
///         <li><a href="#">Contact</a></li>
///     </ul>
///

.nav {
    @extend .cf;
    list-style: none;
    margin-left: 0;

    > li {

        &,
        > a {
            display: inline-block;
        }
    }
}

///
/// .nav--stacked throws the list into vertical mode.
///

.nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

///
/// .nav--banner centres the list.
///

.nav--banner {
    text-align: center;
}

///
/// .nav--block gives nav links a big, blocky hit area.
///

.nav--block {
    line-height: 1;

    > li {

        > a {
            padding: $half-spacing-unit;
        }
    }
}

///
/// .nav--fit forces a nav to occupy 100% of the available width of its parent.
///

.nav--fit {
    display: table;
    width: 100%;

    > li {
        display: table-cell;

        > a {
            display: block;
        }
    }
}

///
/// .nav--keywords transforms the nav to a comma-delimited list.
///

.nav--keywords {

    > li {

        &:after {
            content:"\002C" "\00A0";
        }

        &:last-child:after {
            display:none;
        }
    }
}
