///
/// Fluid and nestable grid system. It is necessary to comment out, or otherwise
/// remove, the whitespace from between grid items.
/// Modifiers are:
///     grid--full   - removes gutters from grid
///     grid--narrow - uses $half-spacing-unit for gutter width
///     grid--wide   - uses 2 * $base-spacing-unit for gutter width
///     grid--rev    - reverse layout of grid items
///     grid--right  - aligns grid items to the right
///     grid--center - center grid items
///     grid--middle - vertically align columns to the middle
///     grid--bottom - vertically align columns to the bottom
///
/// @name grid
/// @group objects
///
/// @example
///     <div class="grid">
///         <div class="grid__item one-third">
///             <p>One third grid</p>
///         </div><!--
///
///      --><div class="grid__item two-thirds">
///             <p>Two thirds grid</p>
///         </div><!--
///
///      --><div class="grid__item one-half">
///             <p>One half grid</p>
///         </div><!--
///
///      --><div class="grid__item one-quarter">
///             <p>One quarter grid</p>
///         </div><!--
///
///      --><div class="grid__item one-quarter">
///             <p>One quarter grid</p>
///         </div>
///     </div>
///

.grid {
    margin: 0;
    margin-left: -$base-spacing-unit;
    padding: 0;
}

    .grid > .grid {
        margin-left: 0;
    }

    .grid__item {
        display: inline-block;
        width: 100%;
        padding-left: $base-spacing-unit;
        vertical-align: top;
        box-sizing: border-box;
    }

.grid--full {
    margin-left: 0;

    > .grid__item {
        padding-left: 0;
    }
}

.grid--narrow {
    margin-left: -$half-spacing-unit;

    > .grid__item{
        padding-left: $half-spacing-unit;
    }
}

.grid--wide {
    margin-left: -($base-spacing-unit * 2);

    > .grid__item{
        padding-left: $base-spacing-unit * 2;
    }
}

.grid--rev {
    direction: rtl;
    text-align: left;

    > .grid__item {
        direction: ltr;
        text-align: left;
    }
}

.grid--right {
    text-align: right;

    > .grid__item {
        text-align: left;
    }
}

.grid--center {
    text-align: center;

    > .grid__item {
        text-align: left;
    }
}

.grid--middle {

    > .grid__item {
        vertical-align:middle;
    }
}

.grid--bottom {

    > .grid__item {
        vertical-align:bottom;
    }
}
