///
/// A basic abstraction for a padded block-level element
/// http://csswizardry.com/2011/10/the-island-object/
///
/// @name island
/// @group objects
///
/// @example
///     <div class="island [islet]">
///         <p></p>
///     </div>
///

.island,
.islet {
    @extend .cf;
    display: block;
}

.island{
    margin-bottom: $base-spacing-unit;
    padding: $base-spacing-unit;
}

    .island > :last-child,
    .islet > :last-child {
        margin-bottom: 0;
    }

.islet {
    margin-bottom: $half-spacing-unit;
    padding: $half-spacing-unit;
}
