///
/// Basic navigation abstraction with minor layout modifiers.
/// Modifiers are:
///     nav--stacked   - throws the list into vertical mode
///     nav--banner    - centres the list
///     nav--block     - gives nav links a big, blocky hit area
///     nav--fit       - forces a nav to occupy 100% width of its parent
///     nav--separator - breadcrumbs-like separators that can be customised
///                      by using the data-separator attribute on the <li>
///
/// @name nav
/// @group objects
///
/// @example
///     <ul class="nav nav--separator">
///         <li data-separator="|"><a href="#">Home</a></li>
///         <li data-separator="|"><a href="#">About</a></li>
///         <li data-separator="|"><a href="#">Portfolio</a></li>
///         <li data-separator="|"><a href="#">Contact</a></li>
///     </ul>
///

.nav {
    @extend .cf;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {

        &,
        > a {
            display: inline-block;
        }
    }
}

.nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

.nav--banner {
    text-align: center;
}

.nav--block {
    line-height: 1;

    > li {

        > a {
            padding: $half-spacing-unit;
        }
    }
}

.nav--fit {
    display: table;
    width: 100%;

    > li {
        display: table-cell;

        > a {
            display: block;
        }
    }
}

.nav--separator {

    > li + li:before{
        content:"\00BB\00A0";
    }

    > li + li[data-separator]:before{
        content: attr(data-separator) "\00A0";
    }
}
