///
/// Simple split item for creating two elements floated away from one another.
///
/// @name split
/// @group objects
///
/// @example
///     <dl class="split">
///         <dt class="split__title">Burger and fries</dt>
///         <dd>$5.99</dd>
///         <dt class="split__title">Fillet steak</dt>
///         <dd>$19.99</dd>
///         <dt class="split__title">Ice cream</dt>
///         <dd>$2.99</dd>
///     </dl>
///
///     <ol class="split">
///         <li><b class="split__title">1st place</b> Bob</li>
///         <li><b class="split__title">2nd place</b> Lilly</li>
///         <li><b class="split__title">3rd place</b> Ted</li>
///     </ol>
///

.split {
    padding-left: 0;
    list-style: none;
    text-align: right;
}

    .split__title {
        float: left;
        clear: left;
        margin: 0;
        text-align: left;
    }
