@each $palette, $tones in $palettes-merged {
    @each $key, $value in $tones {
        @if $key == 'base' {
            .bg--#{$palette} {
                background: $value;
            }

            .text--#{$palette} {
                color: $value;
            }
        }

        ///
        /// Background colour helper class
        ///
        .bg--#{$palette}-#{$key} {
            background: $value;
        }

        ///
        /// Text colour helper class
        ///
        .text--#{$palette}-#{$key} {
            color: $value;
        }
    }
}
