///
/// Simple helper classes for hiding and showing content based on media queries.
///

@each $key, $value in $breakpoints {
    .hidden--#{$key} {
        @include media-query(#{$key}) {
            display: none !important;
        }
    }

    .show--#{$key} {
        display: none;

        @include media-query(#{$key}) {
            display: block !important;
        }

        &.grid__item {
            @include media-query(#{$key}) {
                display: inline-block !important;
            }
        }
    }
}
