///
/// @name Colours
/// @group settings
/// @description
///     A handfull of default colours used to decorate our base
///     components and objects.
///
$blue: #477dca !default;
$dark-grey: #333 !default;
$medium-grey: #999 !default;
$light-grey: #ddd !default;