.card {
    margin-bottom: $base-spacing-unit;
    border: $base-border;
    border-radius: $base-border-radius;
    overflow: hidden;
}
    .card__image {
        img {
            display: block;
        }
    }

    .card__body {
        padding: $base-spacing-unit;

        > *:last-child {
            margin-bottom: 0;
        }
    }