////
/// <div class="header__overlay"></div>
/// <div class="header-finesse">
///     <div class="header__bar">
///         <a href="#"><img class="header__logo" src="http://placehold.it/300x80" alt=""></a>
///         <button class="header__toggle js-mobile-nav">Nav</button>
///     </div>
///
///     <ul class="header__nav">
///         <li><a href="#">Nav item</a></li>
///         <li><a class="current" href="#">Nav item</a></li>
///         <li><a href="#">Nav item</a></li>
///     </ul>
/// </div>
////

.header-finesse {
    @extend .cf;
    position: relative;
    background-color: $secondary-background-color;
}
    .header__overlay {
        position: fixed;
        opacity: 0;
        z-index: -1;
        width: 100%;
        min-height: 100%;
        background-color: rgba(#000, 0.5);

        @include media-query(desk) {
            display: none;
        }

        .mobile-nav-active & {
            opacity: 1;
            z-index: 1;
        }
    }


    .header__bar {
        @extend .cf;
        position: relative;
        padding: $half-spacing-unit 0;
        background-color: inherit;
        z-index: 2;

        @include media-query(desk) {
            float: left;
        }
    }

        .header__logo {
            display: block;
            float: left;
            height: 50px;

            @include media-query(desk-wide) {
                height: 80px;
            }
        }

        .header__toggle {
            float: right;

            @include media-query(desk) {
                display: none;
            }
        }

    .header__nav {
        margin: 0;

        @include media-query(portable) {
            position: absolute;
            top: 100%;
            z-index: 1;
            width: 100%;
            clear: both;
            background-color: $secondary-background-color;
            transform: translateY(-100%);
            transition: transform .2s cubic-bezier(0.215,0.61,0.355,1);
        }

        @include media-query(desk) {
            float: right;
        }

        .mobile-nav-active & {
            transform: translateY(0);
        }

        li {
            @include media-query(desk) {
                display: inline-block;
                line-height: 50px;
            }

            @include media-query(desk-wide) {
                line-height: 80px;
            }
        }

        a {
            display: block;
            padding: 0.75em;

            &:hover {
                color: darken($action-color, 10%);
            }

            &.current {
                background-color: $action-color;
                color: #fff;
                font-weight: normal;
            }
        }
    }
