///
/// The most basic of magnific popup themes (should be deleted or extended)
/// as in this state its a little useless.
///
/// @name modal
/// @group component
///
/// @example
///     Refer to magnific-popup docs
///

.modal {
    position: relative;
    background: #FFF;
    padding: $base-spacing-unit;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: $base-border-radius;
}
