///
/// Basic pagination object that extends '.nav'.
///
/// @name pagination
/// @group component
///
/// @example
///     <ol class="nav pagination">
///         <li class="pagination__prev"><a href="#">Prev</a></li>
///         <li><a href="#">1</a></li>
///         <li><a href="#">2</a></li>
///         <li class="current"><a href="#">3</a></li>
///         <li><a href="#">4</a></li>
///         <li><a href="#">5</a></li>
///         <li class="pagination__next"><a href="#">Next</a></li>
///     </ol>
///

.pagination {
    margin: 1em 0;
    text-align: center;

    a {
        padding: 5px 9px;
        line-height: 1;
        border: $base-border;
    }

    .current {
        a {
            background: $base-border-color;
        }
    }
}

    .pagination__first a:before {
        content:"\00AB" "\00A0";
    }
    .pagination__last a:after {
        content:"\00A0" "\00BB";
    }
