// Typography
$base-font-family: Helvetica, sans-serif !default;
$heading-font-family: $base-font-family !default;

// Font Sizes
$base-font-size: 1em !default;

// Line height
$base-line-height: 1.5 !default;
$heading-line-height: 1.2 !default;

// Other Sizes
$base-spacing-unit: $base-line-height * 1em !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$base-z-index: 0 !default;

// Font Colors
$base-font-color: $dark-grey !default;
$action-color: $blue !default;

// Border
$base-border-radius: 3px !default;
$base-border-color: $light-grey !default;
$base-border: 1px solid $base-border-color !default;

// Background Colors
$base-background-color: #fff !default;
$secondary-background-color: lighten($base-border-color, 5%) !default;

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/

///
/// Using `inline-block` means that the grid items need their whitespace removing
/// in order for them to work correctly. Set the following to true if you are
/// going to achieve this by manually removing/commenting out any whitespace in
/// your HTML yourself.
///
/// Setting this to false invokes a hack which cannot always be guaranteed,
/// please see the following for more detail:
///
/// github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
/// github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
///
$use-markup-fix:        true !default;

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;