///
/// Not much to see here, just a nice starting point for lists using our
/// site-wide spacing values.
///

ul,
ol {
    list-style-type: none;
    margin: 0 0 $half-spacing-unit;
    padding: 0;
}

dl {
    margin-bottom: $half-spacing-unit;

    dt {
        font-weight: bold;
        margin-top: $half-spacing-unit;
    }

    dd {
        margin: 0;
    }
}
