///
/// A more modern looking starting point for tabled data.
///

table {
    width: 100%;
    margin: $half-spacing-unit 0;
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    table-layout: fixed;
}

th {
    padding: $half-spacing-unit 0;
    border-bottom: 1px solid shade($base-border-color, 25%);
    font-weight: 600;
    text-align: left;
}

td {
    padding: $half-spacing-unit 0;
    border-bottom: $base-border;
}

tr,
td,
th {
    vertical-align: middle;
}
