///
/// A more modern looking starting point for tabled data.
///

table {
    width: 100%;
    margin: $half-spacing-unit 0;
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    table-layout: fixed;

    /// Saw this in an example styleguide and though it was pretty cool.
    /// Not a BEM class to make it easier to add to WYSIWYGs.
    .note {
        background: #fffee6;
        color: #877a57;
    }
}

th {
    padding: $half-spacing-unit 0;
    border-bottom: 1px solid shade($base-border-color, 25%);
    font-weight: 600;
    text-align: left;
}

td {
    padding: $half-spacing-unit 0;
    border-bottom: $base-border;
}

tr,
td,
th {
    vertical-align: middle;
}
