///
/// Creates modified versions of the button object classes using the applications
/// colour palette. We only need to modify the button modifiers that
/// actually use the colours. The other modifiers and example usage are
/// found in `objects/_buttons.scss`.
///
/// @name       buttons
/// @group      tools
/// @access     private
/// @param      {string} $colour - A reference to an available palette (colour) in $palletes or $palette-default.
/// @return     {css} button modifier classes nested under the $color modifier
///

@mixin buttons($colour) {
    & {
        background: $colour;

        &:hover,
        &:focus {
            background-color: darken($colour, 10%);
        }
    }

    &.btn--hollow,
    &.btn--plain {
        color: $colour;

        &:hover,
        &:focus {
            background-color: $colour;
        }
    }
}
