///
/// @name Buttons
/// @group grid
/// @description
///     Creates modified versions of the button object classes using the applications colour palette.
///     We only really need to modify the button modifiers that actually use the colours but putting them
///     all here to avoid confusion.
///
/// @example
///     <button class"btn--blue btn--hollow">Button text</button>
///

@mixin buttons($colour) {
    & {
        background: $colour;

        &:hover,
        &:focus {
            background-color: darken($colour, 10%);
        }
    }

    &.btn--large {
        font-size: $base-font-size * 1.5;
    }

    &.btn--full {
        display: block;
        width: 100%;
    }

    &.btn--hollow {
        color: $colour;
        background: transparent;
        border: 1px solid currentColor;

        &:hover,
        &:focus {
            background-color: $colour;
            color: #fff;
        }
    }

    &.btn--plain {
        background: transparent;
        color: $colour;

        &:hover,
        &:focus {
            background: $colour;
            color: #fff;
        }
    }
}
